<!-- about_us.html -->

{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    
    <h2 style="color:orange" style="font-weight: bolder;">RecipeSHARE..</h2> 
    <p>Share your recipes with RecipeSHARE!!!</p>

   

    <h6>About Us</h6>
    <p>Welcome to RecipeSHARE, where food lovers come together to discover, create, and share delightful recipes from around the world.</p>


    <h6>Our Mission</h6>
    <p>Our mission is to inspire culinary creativity by providing a platform where passionate cooks can showcase their best recipes and connect with a vibrant community of food enthusiasts.</p>


    <h6>Meet the Team</h6>
    <p>Our team is composed of dedicated individuals who bring a wealth of experience in cooking, recipe development, and community building. Together, we work tirelessly to ensure RecipeSHARE remains a hub for culinary inspiration and creativity.</p>


    <h6>Community</h6>
    <p>We thrive on the contributions of our community. Whether you're a seasoned chef or a home cook, join us in sharing the joy of cooking and exploring new flavors.</p>


    <div class="text-center mt-4">
        <a href="{% url 'recipe_list' %}" class="btn btn-primary btn-lg">Explore Recipes</a>
    </div>
    
</div>
{% endblock %}
