<!-- recipes/templates/recipes/contact_us.html -->

{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Contact Us</h2>
    <p>
        For any inquiries or feedback, please feel free to reach out to us using the contact information below.
    </p>
    
    <!-- Contact Information -->
    <div class="row">
        <div class="col-md-6">
            <h4>Address:</h4>
            <p>Derasar Lane, Ghatkopar, Mumbai,India</p>
        </div>
        <div class="col-md-6">
            <h4>Email:</h4>
            <p>recipeshare@gmail.com</p>
            <h4>Phone:</h4>
            <p>9123456789</p>
        </div>
    </div>
</div>
{% endblock %}
